<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to sixtwelve, <%= @user.name %></h1>
    <p>
      This email is to inform you that we have successfully received your request to join <%= @group.name %>.
      <br>
      In order to assure the privacy of the members of each group, our sixtwelve team will review your request and notify you shortly regarding your new membership request for <%= @group.name %>
    </p>
    <p>Thank you for using sixtwelve and have a great day!</p>
  </body>
</html>
