<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Member Request</h1>
    <h3>Username:</h3><p><%= @user.name %></p>
    <h3>User ID:</h3><p><%= @user.id %></p>
    <h3>Requested Group Name:</h3><p><%= @group.name %></p>
    <h3>Requested Group ID:</h3><p><%= @group.id %></p>

    <p>Admins, please remember to label emails correctly</p>
  </body>
</html>
