<div class="homepage-container page-header col-md-12">

  <div class="tag-container col-md-12">
    <h1 class="header"><span class="homepage-header">sixtwelve</span><br><small class="header">Easily share prayers with one another</small></h1>
  </div>

  <div class="instructions-container col-md-12">
    <h2 class="header">Instructions</h2>
      <h5 class="header">Once you have signed in, email <a href="mailto:sixtwelveinfo@gmail.com" id="email">sixtwelveinfo@gmail.com</a> with your <span id="instruction-text">full name</span> and the <span id="instruction-text">group</span> you wish to join.</h5>
      <h5 class="header"><span id="instruction-text">sixtwelve</span> will confirm your information and add you as a member of the requested group.</h5>
  </div>

  <div class="group-index-container col-md-12">
    <% if !signed_in? %>
      <h2 class="header" id="sign-in-message">Please sign in to join your group.</h2>
    <% else %>
    <div class="col-md-12">
      <h1 class="header">Please select a group</h1>
    </div>
    <div class="col-md-12">
      <table class="table">
        <% @groups.each do |group| %>
          <% group.members.each do |member| %>
            <tr>
              <% if current_user.id == member.user_id %>
                <td><%= group.name %></td>
                <td><%=link_to 'Enter', group_path(group), class: 'group-link' %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
    <% end %>
  </div>

</div>
