/* global */
body {
  font-weight: 100;
}

.body-container {
padding: 30px 15px;
}

.header {
  font-weight: 100;
}

.table td {
  text-align: justify;
}

#flash-message {
  padding-top: 20px;
  text-align: center;
}

/* navbar */

.icon-bar {
  background-color: black;
}

.container-fluid {
  border-bottom: 1px solid black;
}

.navbar {
  background-color: white;
}

/* admin */

.new-container,
.new-group-container,
.new-member-container {
  height: 300px;
}

.new-container,
.new-group-member-container,
.test {
  padding-bottom: 100px;
}

.new-group-container {
  padding-top: 15px;
}
/* groups index */

.homepage-header {
  font-size: 2.5em;
}

.tag-container {
  padding-bottom: 200px;
}

#email {
  text-decoration: underline;
}

#sign-in-message {
  text-align: center;
}

.instructions-container {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 50px;
  padding-bottom: 50px;
}

.instructions-container h5 {
  line-height: 30px;
}

#instruction-text {
  font-weight: 300;
}

/* groups show */

.new-prayer-container {
  text-align: left;
}

.new-prayer-link:hover,
.delete-link:hover,
.edit-link:hover,
.prayer-link:hover,
.back-link:hover,
.login-link:hover,
.group-link:hover,
#email:hover {
  text-decoration: none;
  color: #F22613;
}

.prayer-title,
.prayer-description,
.members-container,
.group-name-container,
.instructions-container {
  text-align: center;
}

.new-prayer-link,
.prayer-header,
.member-header {
  font-size: 2em;
}

.new-prayer-link {
  font-weight: 100;
}

.group-header {
  font-size: 5em;
}

.member-info-container {
  padding-top: 10px;
}

.portrait {
  height: 175px;
  width: 175px;
}

.avatar {
  height: 50px;
  width: 50px;
}

.prayer-author {
  font-weight: 200;
}

.prayer-request-container {
  padding-top: 50px;
}

.page-links-container {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 100px;
}

.pagination-container {
  text-align: center;
}

/* prayers show */

.prayer-comments-container,
.new-prayer-comment-container {
  padding-bottom: 10px;
}

/* new groups and members */

.new-member-container,
.user-group-info-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* new prayer */

.comment-btn {
  text-align: center;
}

.new-prayer-link {
  font-size: 3em;
}

/* footer */

.footer-container {
  text-align: center;
  background-color: white;
  padding-top: 0;
  margin-top: 0;
}

#footer-name {
  font-weight: 100;
}
